*{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgb(52, 1, 100);
        color: whitesmoke;
        font-family: 'Roboto Condensed', sans-serif;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        background-color: rgb(44, 2, 83);
    }
    nav ul{
        display: flex;
        justify-content: center;
    }
    nav ul li{
        list-style:none;
        margin: 0 23px;
    }
    nav ul li a{
        text-decoration: none;
        color: whitesmoke;
    }
    nav ul li a:hover{
        color: rgb(127, 4, 127);
        font-size: 1.02rem;
    }
    main hr{
        border: 0;
        background-color: rgb(44, 2,83);
        height: 1.2px;
        margin: 40px 84px;
    }
    
    
    
    .left{
        font-size: 1.5rem;
    }
    .firstSection{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 80px 0;
    }
    .firstSection > div{
        width: 30%;
    }
    .leftSection{
        font-size: 3rem;
    }
    .leftSection .buttons{
        padding: 50px 0;
    }
    .leftSection .btn {
        padding: 12px;
        background-color:rgb(41, 15, 85);
        color: whitesmoke;
        border: 2px solid whitesmoke;
        font-size: 20px;
        cursor: pointer;
    }
    .rightSection img{
        width: 80%;
    }
    .gold{
        color: rgb(208, 155, 23);
    }
    .text-grey{
        color: rgb(138, 137, 139);
    }
    
    
    
    .secondSection{
        max-width: 80vw;
        margin: auto;
        height: 80vh;
    }
    .secondSection h1{
        font-size: 1.9rem;
    }
    .secondSection .box{
        background-color: whitesmoke;
        width: 150vw;
        height: 2px;
        margin: 56px 0;
        display: flex;
    }
    .secondSection .vertical{
        height: 93px;
        width: 1px;
        background-color: whitesmoke;
        margin: 0 100px 100px;
    }
    .image-top{
        width: 23px;
        position: relative;
        top: -32px;
        left: -9px;
    }
    .vertical-title{
        position: relative;
        top: 10px;
        width: 150px;
    }
    .vertical-desc{
        position: relative;
        top: 5px;
        color: rgb(138, 137, 139);
        width: 150px;
        font-size: 9px;
    }
    .footer{
        background-color: rgb(58, 52, 70);
    }
    .footer{
        display: flex;
        padding: 23px 122px;
        justify-content: space-evenly;
    }
    .footer ul{
        list-style: none;
    }
    .footer > div{
        width: 233px;
    }
    footer .footer-rights{
        text-align: center;
        color: rgb(17, 15, 20);
        padding: 12px 0;
    }
    
    
    @media screen and (max-width: 900px) {
      body{
        background-color: darkslateblue;
      }
      .box{
        flex-direction: column;
      }
      .secondSection .vertical{
        height: unset;
      }
      .vertical-title .vertical-desc{
        left: 45px;
      }
      .secondSection .box{
        width: 50vw;
      }
      footer .footer-rights{
        display: none;
      }
      .firstSection{
        flex-direction: column-reverse;
      }
      .leftSection{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .rightSection{
        width: 721px !important;
      }
    }